beautifulsoup4==4.5.3
bs4==0.0.1
certifi==2017.4.17
chardet==3.0.4
cloudinary==1.15.0
contextlib2==0.5.5
dateparser==0.6.0
DateTime==4.2
ddtrace==0.25.0
dj-database-url==0.4.2
Django==2.2.1
django-webpack-loader==0.6.0
emoji==0.4.5
gunicorn==19.7.1
html5lib==1.0.1
idna==2.8
iso8601==0.1.12
JSON-log-formatter==0.2.0
mock==3.0.5
nltk==3.2.5
psutil==5.6.2
psycopg2==2.7.3.2
python-dateutil==2.6.0
pytz==2017.2
raven==6.10.0
regex==2017.4.23
requests==2.21.0
ruamel.yaml==0.14.10
selenium==3.11.0
setproctitle==1.1.10
six==1.10.0
sqlparse==0.3.0
tzlocal==1.4
urllib3==1.24.3
webencodings==0.5.1
whitenoise==3.3.0
zope.interface==4.4.0
