beautifulsoup4==4.5.3
bs4==0.0.1
certifi==2017.4.17
chardet==3.0.4
contextlib2==0.5.5
dateparser==0.6.0
DateTime==4.2
dj-database-url==0.4.2
Django==2.1.2
django-webpack-loader==0.6.0
emoji==0.4.5
gunicorn==19.7.1
html5lib==1.0.1
idna==2.8
iso8601==0.1.12
JSON-log-formatter==0.2.0
Logentries==0.17
nltk==3.2.5
psycopg2==2.7.3.2
python-dateutil==2.6.0
pytz==2017.2
raven==6.10.0
regex==2017.4.23
requests==2.21.0
ruamel.yaml==0.14.10
selenium==3.11.0
six==1.10.0
tzlocal==1.4
urllib3==1.24.1
webencodings==0.5.1
whitenoise==3.3.0
zope.interface==4.4.0
