{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Analytics</title>

    <!-- Favicons -->
    {% include "favicons.html" %}

    <!-- Bootstrap CSS -->
    <link href="{% static 'lib/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Boostrap JS and Jquery -->
    <script src="{% static 'lib/js/jquery.min.js' %}"></script>
    <script src="{% static 'lib/js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['bar', 'line']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {
        {% autoescape off %}

        var newUsersOverMonths = google.visualization.arrayToDataTable({{new_users_over_months}});
        var highlightsClickOverMonths = google.visualization.arrayToDataTable({{highlight_clicks_over_months}});

        {% endautoescape %}

        var highlightsClickOverMonthChart = new google.charts.Bar(document.getElementById('highlights_click_over_months'));
        highlightsClickOverMonthChart.draw(highlightsClickOverMonths);

        var newUsersOverMonthsChart = new google.charts.Bar(document.getElementById('new_users_over_months'));
        newUsersOverMonthsChart.draw(newUsersOverMonths);
      }
    </script>

    <style>
        .panel {
            padding: 0;
        }

        .panel-body {
            text-align: center;
        }
    </style>
</head>
<body>

    <!-- NAVIGATION -->
    <nav class="navbar navbar-default">
      <div class="container-fluid">

        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Highlights Analytics</a>
        </div>

      </div>
    </nav>

    <div class="container-fluid">

        <!-- User -->
        <h3>Users</h3>

        <div class="panel panel-default col-xs-12 col-sm-6 col-md-3">
          <div class="panel-heading">
            <h3 class="panel-title">Users</h3>
          </div>
          <div class="panel-body">
              <h2>{{ total_user }}</h2>
          </div>
        </div>

        <div class="panel panel-default col-xs-12 col-sm-6 col-md-3">
          <div class="panel-heading">
            <h3 class="panel-title">New users - Today</h3>
          </div>
          <div class="panel-body">
              <h2>{{ new_users_today }}</h2>
          </div>
        </div>

        <div class="panel panel-default col-xs-12 col-sm-6 col-md-3">
          <div class="panel-heading">
            <h3 class="panel-title">New users - Yesterday</h3>
          </div>
          <div class="panel-body">
              <h2>{{ new_users_yesterday }}</h2>
          </div>
        </div>

        <div class="panel panel-default col-xs-12 col-sm-6 col-md-3">
          <div class="panel-heading">
            <h3 class="panel-title">Users with at least 1 highlight click</h3>
          </div>
          <div class="panel-body">
              <h2>{{ total_user_with_one_highlight_click }}</h2>
          </div>
        </div>

        <!-- Unique highlight viewers  -->
        <h3>Unique highlight viewers</h3>

        <div class="panel panel-default col-xs-12 col-sm-6 col-md-3">
          <div class="panel-heading">
            <h3 class="panel-title">Unique highlight viewers - Today</h3>
          </div>
          <div class="panel-body">
              <h2>{{ unique_highlight_viewer_today }}</h2>
          </div>
        </div>

        <div class="panel panel-default col-xs-12 col-sm-6 col-md-3">
          <div class="panel-heading">
            <h3 class="panel-title">Unique highlight viewers - Yesterday</h3>
          </div>
          <div class="panel-body">
              <h2>{{ unique_highlight_viewer_yesterday }}</h2>
          </div>
        </div>

        <div class="panel panel-default col-xs-12 col-sm-6 col-md-3">
          <div class="panel-heading">
            <h3 class="panel-title">Unique highlight viewers - This week</h3>
          </div>
          <div class="panel-body">
              <h2>{{ unique_highlight_viewer_week }}</h2>
          </div>
        </div>

        <div class="panel panel-default col-xs-12 col-sm-6 col-md-3">
          <div class="panel-heading">
            <h3 class="panel-title">Unique highlight viewers - This month</h3>
          </div>
          <div class="panel-body">
              <h2>{{ unique_highlight_viewer_month }}</h2>
          </div>
        </div>

        <!-- Highlights click -->
        <h3>Highlight clicks</h3>

        <div class="panel panel-default col-xs-12 col-sm-6 col-md-3">
          <div class="panel-heading">
            <h3 class="panel-title">Highlight clicks - Today</h3>
          </div>
          <div class="panel-body">
              <h2>{{ today_click }}</h2>
          </div>
        </div>

        <div class="panel panel-default col-xs-12 col-sm-6 col-md-3">
          <div class="panel-heading">
            <h3 class="panel-title">Highlight clicks - Yesterday</h3>
          </div>
          <div class="panel-body">
              <h2>{{ yesterday_click }}</h2>
          </div>
        </div>

        <div class="panel panel-default col-xs-12 col-sm-6 col-md-3">
          <div class="panel-heading">
            <h3 class="panel-title">Highlight clicks - This week</h3>
          </div>
          <div class="panel-body">
              <h2>{{ week_click }}</h2>
          </div>
        </div>

        <div class="panel panel-default col-xs-12 col-sm-6 col-md-3">
          <div class="panel-heading">
            <h3 class="panel-title">Highlight clicks - This month</h3>
          </div>
          <div class="panel-body">
              <h2>{{ month_click }}</h2>
          </div>
        </div>

        <!-- Highlight notification click -->
        <h3>Highlight notification click</h3>

        <div class="panel panel-default col-xs-12 col-sm-6 col-md-3">
          <div class="panel-heading">
            <h3 class="panel-title">Notification opened - Last 24 hours</h3>
          </div>
          <div class="panel-body">
              <h2>{{ notification_opened_today_ratio }}%</h2> {{ notification_opened_today }} / {{ notification_today_total }}
          </div>
        </div>

        <div class="panel panel-default col-xs-12 col-sm-6 col-md-3">
          <div class="panel-heading">
            <h3 class="panel-title">Notification opened - Previous 24 hours</h3>
          </div>
          <div class="panel-body">
              <h2>{{ notification_opened_yesterday_ratio }}%</h2> {{ notification_opened_yesterday }} / {{ notification_yesterday_total }}
          </div>
        </div>

        <div class="panel panel-default col-xs-12 col-sm-6 col-md-3">
          <div class="panel-heading">
            <h3 class="panel-title">Notification opened - Last week</h3>
          </div>
          <div class="panel-body">
              <h2>{{ notification_opened_week_ratio }}%</h2> {{ notification_opened_week }} / {{ notification_week_total }}
          </div>
        </div>

        <div class="panel panel-default col-xs-12 col-sm-6 col-md-3">
          <div class="panel-heading">
            <h3 class="panel-title">Notification opened - Last month</h3>
          </div>
          <div class="panel-body">
              <h2>{{ notification_opened_month_ratio }}%</h2> {{ notification_opened_month }} / {{ notification_month_total }}
          </div>
        </div>

        <!-- Charts -->
        <h3>Charts</h3>

        <div class="panel panel-default col-xs-12 col-sm-12 col-md-6">
          <div class="panel-heading">
            <h3 class="panel-title">Highlights click over months</h3>
          </div>
          <div class="panel-body">
              <div id="highlights_click_over_months"></div>
          </div>
        </div>

        <div class="panel panel-default col-xs-12 col-sm-12 col-md-6">
          <div class="panel-heading">
            <h3 class="panel-title">New users over months</h3>
          </div>
          <div class="panel-body">
              <div id="new_users_over_months"></div>
          </div>
        </div>

    </div>

</body>
</html>