{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Highlights Bot - Latest Football Highlights</title>
    <meta name="description" content="Watch the latest football highlights and goals in high quality!">

    <!-- Favicons -->
    {% include "favicons.html" %}

    <!-- Google Analytics -->
    {% include "google_analytics.html" %}

    <!-- Library CSS -->
    <link href="{% static 'lib/css/bootstrap4.min.css' %}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static 'dist/main.css' %}" rel="stylesheet">

    <script>var STATIC_URL = "{% get_static_prefix %}"</script>
</head>
<body>

    <!-- Facebook customer plugin sdk -->
    <div id="fb-root"></div>
    <script>
      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = 'https://connect.facebook.net/en_GB/sdk/xfbml.customerchat.js#xfbml=1&version=v2.12&autoLogAppEvents=1';
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    </script>

    <div class="fb-customerchat"
      attribution=setup_tool
      page_id="126458517950571"
      theme_color="#0084ff"
      logged_in_greeting="Hey! Want to get these highlights automatically?"
      logged_out_greeting="Hey! Want to get these highlights automatically?"
      greeting_dialog_delay="3">
    </div>
    <!-- END of Facebook customer plugin sdk -->

    <header id="header"></header>

    <main id="highlights-gallery"></main>

    <footer class="text-muted">
      <div class="container">
        <p class="float-left">&copy; HighlightsBot</p>
        <a href="#" class="float-right" data-toggle="modal" data-target="#dmca-modal">DMCA compliancy</a>
      </div>

      <!-- Modal -->
      <div class="modal fade" id="dmca-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">DMCA compliancy</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <p>All the video content found on the HighlightsBot is not hosted on our servers nor is created or uploaded by us.
                HighlightsBot simply acts as a search engine that finds videos from websites like YouTube and other video portals.
                HighlightsBot is not responsible for external websites content.</p>
                <p class="mt-3">If you find that some of the content violates your rights you may request for that content to be brought down at the host that is responsible for the content.
                That will ensure that the content is removed from HighlightsBot and other search engines that may have indexed the content.</p>
            </div>
          </div>
        </div>
      </div>
    </footer>

    <!-- Library JS -->
    <script src="{% static 'lib/js/jquery.min.js' %}"></script>
    <script src="{% static 'lib/js/bootstrap4.min.js' %}"></script>
    <script src="{% static 'lib/js/lodash.min.js' %}"></script>

    <!-- Custom JS -->
    <script src="{% static 'dist/main.js' %}"></script>

</body>
</html>