{% load static %}
{% load render_bundle from webpack_loader %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Highlights</title>

    <!-- Favicons -->
    {% include "favicons.html" %}

    <!-- Library CSS -->
    <link href="{% static 'lib/css/bootstrap4.min.css' %}" rel="stylesheet">

    <!-- Custom CSS -->
    {% render_bundle 'main' 'css' %}

</head>
<body>

    <!-- Facebook customer plugin sdk -->
    <div id="fb-root"></div>
    <script>
      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = 'https://connect.facebook.net/en_GB/sdk/xfbml.customerchat.js#xfbml=1&version=v2.12&autoLogAppEvents=1';
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    </script>

    <div class="fb-customerchat"
      attribution=setup_tool
      page_id="126458517950571"
      theme_color="#0084ff"
      logged_in_greeting="Hey! Want to get these highlights automatically?"
      logged_out_greeting="Hey! Want to get these highlights automatically?"
      greeting_dialog_delay="3">
    </div>
    <!-- END of Facebook customer plugin sdk -->

    <header>
      <div class="navbar navbar-dark bg-dark shadow-sm">
        <div class="container d-flex justify-content-between">
          <a href="#" class="brand navbar-brand d-flex align-items-center col-md-auto col-12">
            <img class="logo" src="{% static 'img/logo.png' %}" alt="Card image cap">
            <strong>Highlights Bot</strong>
          </a>

          <div class="input-group input-group-sm col-lg-4 col-md-6 col-12">
            <input type="text" class="search form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
            <div class="input-group-append">
              <span class="input-group-text" id="inputGroup-sizing-sm">Search</span>
            </div>
          </div>
        </div>
      </div>
    </header>

    <main role="main" id="highlights-gallery"></main>

    <footer class="text-muted">
      <div class="container">
        <p class="float-right">
          <a href="#">Back to top</a>
        </p>
        <p>&copy; HighlightsBot</p>
      </div>
    </footer>

    <!-- Library JS r-->
    <script src="{% static 'lib/js/jquery.min.js' %}"></script>
    <script src="{% static 'lib/js/bootstrap4.min.js' %}"></script>
    <script src="{% static 'lib/js/lodash.min.js' %}"></script>

    <!-- Custom JS -->
    {% render_bundle 'main' 'js' %}

</body>
</html>