{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <!-- Bootstrap CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Boostrap JS and Jquery -->
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

     <style>

      .status h4 {
        float: left;
      }

      .status div img {
        float: right;
        height: 30px;
        width: 30px;
      }

      .panel {
        margin-bottom: 15px;
      }

      .main {
        margin: 0 20%;
      }

      @media only screen and (max-width: 600px) {
        .main {
          margin: 0 10px;
        }
      }

    </style>

</head>
<body>

    <!-- NAVIGATION -->
    <nav class="navbar navbar-default">
      <div class="container-fluid">

        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Scrapping status</a>
        </div>

      </div>
    </nav>

    <!-- Send message -->
    <div class="container-fluid main">

        {% for name, ok in sites %}
            <div class="panel panel-default">
                <div class="panel-body status">
                    <h4>{{ name }}</h4>

                    <div class="container-fluid">
                        {% if ok %}
                            <img src="{% static 'images/tick.png' %}"/>
                        {% else %}
                            <img src="{% static 'images/cross.png' %}"/>
                        {% endif %}
                    </div>

                </div>
            </div>
        {% endfor %}

    </div>

</body>
</html>